* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(17, 17, 17);
  }
  
  .logo img {
    max-height: 70px;
    margin-top: 20%;
    margin-left: 30%;
    border-radius: 15%;
  }
  
  .logo img:hover {
    max-height: 71px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  
  nav ul li a:hover {
    color: GREY;
  }

  
  .con h2 {
    font-size: 50px;
    line-height: 1px;
    text-align: center;
    color: #ccc;
  }
  
  .con p {
    font-size: 140PX;
    color: #444343;
    padding-top: 13%;
    padding-bottom: 0%;
    line-height: 0.8cm;
    text-align: center;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: 5%;
    margin-bottom: 0%;
  }
  
  .card {
    flex: 1 0 300px;
    background-color: #504e4e;
    
    border-radius: 5px;
    padding: 0px;
  }
  
  .card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius:  5px 5px 0 0;
  }
  
  .card-content {
    margin: 35px;
    color: #fff;
  }
  
  .card-content h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .card-content p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 5%;
  }
  .card-content h6 {
    font-size: 14px;
    color: #e2e0e0;
    margin-bottom: 5%;
  }

  .footer-bottom {
    margin-top: 0px;
    text-align: center;
    color: #f0eeee;
  }
  .footer {
    background-color: rgb(17, 17, 17);
    margin-top:0% ;
    padding: 5%;
    width: 100%;
  }
